/* Generert av @fristil/designsystem. Rediger oppskriften, ikke denne fila. */

@layer fristil, fristil-tema;

@layer fristil-tema {
  :root {
    --fs-color-accent-surface: #e4f5ff;
    --fs-color-accent-border-subtle: #b6def8;
    --fs-color-accent-border: #4180a7;
    --fs-color-accent-border-strong: #17658d;
    --fs-color-accent-fill: #0074a6;
    --fs-color-accent-text: #005379;
    --fs-color-accent-text-strong: #002d43;
    --fs-color-accent-text-subtle: #006693;
    --fs-color-accent-content: #f8fcff;
    --fs-color-visited-surface: #e4f5ff;
    --fs-color-visited-border-subtle: #b6def8;
    --fs-color-visited-border: #4180a7;
    --fs-color-visited-border-strong: #17658d;
    --fs-color-visited-fill: #0074a6;
    --fs-color-visited-text: #005379;
    --fs-color-visited-text-strong: #002d43;
    --fs-color-visited-text-subtle: #006693;
    --fs-color-visited-content: #f8fcff;
    --fs-color-brand1-surface: #e4f7ef;
    --fs-color-brand1-border-subtle: #c2dfd4;
    --fs-color-brand1-border: #578474;
    --fs-color-brand1-border-strong: #386958;
    --fs-color-brand1-fill: #157e63;
    --fs-color-brand1-text: #005b46;
    --fs-color-brand1-text-strong: #073125;
    --fs-color-brand1-text-subtle: #316c59;
    --fs-color-brand1-content: #f9fdfb;
    --fs-color-brand2-surface: #f2efff;
    --fs-color-brand2-border-subtle: #d8d2f8;
    --fs-color-brand2-border: #7a70a6;
    --fs-color-brand2-border-strong: #5f538c;
    --fs-color-brand2-fill: #7156ba;
    --fs-color-brand2-text: #513b8b;
    --fs-color-brand2-text-strong: #2b204a;
    --fs-color-brand2-text-subtle: #625295;
    --fs-color-brand2-content: #fcfbff;
    --fs-color-brand3-surface: #ffecee;
    --fs-color-brand3-border-subtle: #f4cccf;
    --fs-color-brand3-border: #9f676d;
    --fs-color-brand3-border-strong: #844a51;
    --fs-color-brand3-fill: #a94656;
    --fs-color-brand3-text: #7e2e3c;
    --fs-color-brand3-text-strong: #431920;
    --fs-color-brand3-text-subtle: #8b4750;
    --fs-color-brand3-content: #fffafb;
    --fs-color-neutral-surface: #edf2ff;
    --fs-color-neutral-border-subtle: #d5d7de;
    --fs-color-neutral-border: #757982;
    --fs-color-neutral-border-strong: #5a5d67;
    --fs-color-neutral-fill: #656b7d;
    --fs-color-neutral-text: #484d5a;
    --fs-color-neutral-text-strong: #262930;
    --fs-color-neutral-text-subtle: #5b5f6a;
    --fs-color-neutral-content: #fbfcfc;
    --fs-color-danger-surface: #ffecee;
    --fs-color-danger-border-subtle: #ffc6ce;
    --fs-color-danger-border: #b85367;
    --fs-color-danger-border-strong: #9d314b;
    --fs-color-danger-fill: #c7004f;
    --fs-color-danger-text: #910038;
    --fs-color-danger-text-strong: #52001c;
    --fs-color-danger-text-subtle: #a72349;
    --fs-color-danger-content: #fffafb;
    --fs-color-warning-surface: #ffefd9;
    --fs-color-warning-border-subtle: #eed3ac;
    --fs-color-warning-border: #987132;
    --fs-color-warning-border-strong: #7d5400;
    --fs-color-warning-fill: #906100;
    --fs-color-warning-text: #684500;
    --fs-color-warning-text-strong: #392400;
    --fs-color-warning-text-subtle: #7f5600;
    --fs-color-warning-content: #fefbf7;
    --fs-color-success-surface: #dbfdd6;
    --fs-color-success-border-subtle: #b3e9ab;
    --fs-color-success-border: #388f2d;
    --fs-color-success-border-strong: #107200;
    --fs-color-success-fill: #148300;
    --fs-color-success-text: #0b5e00;
    --fs-color-success-text-strong: #033300;
    --fs-color-success-text-subtle: #117400;
    --fs-color-success-content: #f8fef7;
    --fs-color-neutral-canvas: #ffffff;
    --fs-color-neutral-raised: #dde4f8;
  }

  @media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
      --fs-color-accent-surface: #122733;
      --fs-color-accent-border-subtle: #173c51;
      --fs-color-accent-border: #508fb6;
      --fs-color-accent-border-strong: #6db4e0;
      --fs-color-accent-fill: #009adb;
      --fs-color-accent-text: #80ceff;
      --fs-color-accent-text-strong: #d0edff;
      --fs-color-accent-text-subtle: #5cb2e5;
      --fs-color-accent-content: #0b0e10;
      --fs-color-visited-surface: #122733;
      --fs-color-visited-border-subtle: #173c51;
      --fs-color-visited-border: #508fb6;
      --fs-color-visited-border-strong: #6db4e0;
      --fs-color-visited-fill: #009adb;
      --fs-color-visited-text: #80ceff;
      --fs-color-visited-text-strong: #d0edff;
      --fs-color-visited-text-subtle: #5cb2e5;
      --fs-color-visited-content: #0b0e10;
      --fs-color-brand1-surface: #192822;
      --fs-color-brand1-border-subtle: #253e35;
      --fs-color-brand1-border: #669382;
      --fs-color-brand1-border-strong: #85b7a5;
      --fs-color-brand1-fill: #45a386;
      --fs-color-brand1-text: #8bd6bc;
      --fs-color-brand1-text-strong: #c8f3e3;
      --fs-color-brand1-text-subtle: #7bb6a1;
      --fs-color-brand1-content: #0c0e0d;
      --fs-color-brand2-surface: #242133;
      --fs-color-brand2-border-subtle: #393351;
      --fs-color-brand2-border: #897eb6;
      --fs-color-brand2-border-strong: #aca0df;
      --fs-color-brand2-fill: #937be2;
      --fs-color-brand2-text: #c6b8ff;
      --fs-color-brand2-text-strong: #e8e4ff;
      --fs-color-brand2-text-subtle: #aa9be4;
      --fs-color-brand2-content: #0d0d10;
      --fs-color-brand3-surface: #311e20;
      --fs-color-brand3-border-subtle: #4d2e31;
      --fs-color-brand3-border: #af767c;
      --fs-color-brand3-border-strong: #d7979d;
      --fs-color-brand3-fill: #d26a79;
      --fs-color-brand3-text: #ffa8b1;
      --fs-color-brand3-text-strong: #ffdee1;
      --fs-color-brand3-text-subtle: #db9098;
      --fs-color-brand3-content: #0f0c0d;
      --fs-color-neutral-surface: #1f2332;
      --fs-color-neutral-border-subtle: #36383d;
      --fs-color-neutral-border: #848791;
      --fs-color-neutral-border-strong: #a7abb6;
      --fs-color-neutral-fill: #888fa1;
      --fs-color-neutral-text: #bec4d4;
      --fs-color-neutral-text-strong: #e4e8f2;
      --fs-color-neutral-text-subtle: #a3a7b4;
      --fs-color-neutral-content: #0d0d0e;
      --fs-color-danger-surface: #39181e;
      --fs-color-danger-border-subtle: #5b222e;
      --fs-color-danger-border: #c96276;
      --fs-color-danger-border-strong: #f68196;
      --fs-color-danger-fill: #fd2a6e;
      --fs-color-danger-text: #ffa8b5;
      --fs-color-danger-text-strong: #ffdee2;
      --fs-color-danger-text-subtle: #fd7590;
      --fs-color-danger-content: #110c0c;
      --fs-color-warning-surface: #2e210e;
      --fs-color-warning-border-subtle: #49330f;
      --fs-color-warning-border: #a88042;
      --fs-color-warning-border-strong: #d0a25d;
      --fs-color-warning-fill: #be8200;
      --fs-color-warning-text: #f9b648;
      --fs-color-warning-text-strong: #ffe3bb;
      --fs-color-warning-text-subtle: #d29d48;
      --fs-color-warning-content: #0f0d0a;
      --fs-color-success-surface: #102b0d;
      --fs-color-success-border-subtle: #12440b;
      --fs-color-success-border: #489e3e;
      --fs-color-success-border-strong: #65c559;
      --fs-color-success-fill: #1fad00;
      --fs-color-success-text: #50e83d;
      --fs-color-success-text-strong: #b2ffa8;
      --fs-color-success-text-subtle: #50c542;
      --fs-color-success-content: #0b0f0a;
      --fs-color-neutral-canvas: #0d111e;
      --fs-color-neutral-raised: #2d3241;
    }
  }

  [data-theme="dark"] {
    --fs-color-accent-surface: #122733;
    --fs-color-accent-border-subtle: #173c51;
    --fs-color-accent-border: #508fb6;
    --fs-color-accent-border-strong: #6db4e0;
    --fs-color-accent-fill: #009adb;
    --fs-color-accent-text: #80ceff;
    --fs-color-accent-text-strong: #d0edff;
    --fs-color-accent-text-subtle: #5cb2e5;
    --fs-color-accent-content: #0b0e10;
    --fs-color-visited-surface: #122733;
    --fs-color-visited-border-subtle: #173c51;
    --fs-color-visited-border: #508fb6;
    --fs-color-visited-border-strong: #6db4e0;
    --fs-color-visited-fill: #009adb;
    --fs-color-visited-text: #80ceff;
    --fs-color-visited-text-strong: #d0edff;
    --fs-color-visited-text-subtle: #5cb2e5;
    --fs-color-visited-content: #0b0e10;
    --fs-color-brand1-surface: #192822;
    --fs-color-brand1-border-subtle: #253e35;
    --fs-color-brand1-border: #669382;
    --fs-color-brand1-border-strong: #85b7a5;
    --fs-color-brand1-fill: #45a386;
    --fs-color-brand1-text: #8bd6bc;
    --fs-color-brand1-text-strong: #c8f3e3;
    --fs-color-brand1-text-subtle: #7bb6a1;
    --fs-color-brand1-content: #0c0e0d;
    --fs-color-brand2-surface: #242133;
    --fs-color-brand2-border-subtle: #393351;
    --fs-color-brand2-border: #897eb6;
    --fs-color-brand2-border-strong: #aca0df;
    --fs-color-brand2-fill: #937be2;
    --fs-color-brand2-text: #c6b8ff;
    --fs-color-brand2-text-strong: #e8e4ff;
    --fs-color-brand2-text-subtle: #aa9be4;
    --fs-color-brand2-content: #0d0d10;
    --fs-color-brand3-surface: #311e20;
    --fs-color-brand3-border-subtle: #4d2e31;
    --fs-color-brand3-border: #af767c;
    --fs-color-brand3-border-strong: #d7979d;
    --fs-color-brand3-fill: #d26a79;
    --fs-color-brand3-text: #ffa8b1;
    --fs-color-brand3-text-strong: #ffdee1;
    --fs-color-brand3-text-subtle: #db9098;
    --fs-color-brand3-content: #0f0c0d;
    --fs-color-neutral-surface: #1f2332;
    --fs-color-neutral-border-subtle: #36383d;
    --fs-color-neutral-border: #848791;
    --fs-color-neutral-border-strong: #a7abb6;
    --fs-color-neutral-fill: #888fa1;
    --fs-color-neutral-text: #bec4d4;
    --fs-color-neutral-text-strong: #e4e8f2;
    --fs-color-neutral-text-subtle: #a3a7b4;
    --fs-color-neutral-content: #0d0d0e;
    --fs-color-danger-surface: #39181e;
    --fs-color-danger-border-subtle: #5b222e;
    --fs-color-danger-border: #c96276;
    --fs-color-danger-border-strong: #f68196;
    --fs-color-danger-fill: #fd2a6e;
    --fs-color-danger-text: #ffa8b5;
    --fs-color-danger-text-strong: #ffdee2;
    --fs-color-danger-text-subtle: #fd7590;
    --fs-color-danger-content: #110c0c;
    --fs-color-warning-surface: #2e210e;
    --fs-color-warning-border-subtle: #49330f;
    --fs-color-warning-border: #a88042;
    --fs-color-warning-border-strong: #d0a25d;
    --fs-color-warning-fill: #be8200;
    --fs-color-warning-text: #f9b648;
    --fs-color-warning-text-strong: #ffe3bb;
    --fs-color-warning-text-subtle: #d29d48;
    --fs-color-warning-content: #0f0d0a;
    --fs-color-success-surface: #102b0d;
    --fs-color-success-border-subtle: #12440b;
    --fs-color-success-border: #489e3e;
    --fs-color-success-border-strong: #65c559;
    --fs-color-success-fill: #1fad00;
    --fs-color-success-text: #50e83d;
    --fs-color-success-text-strong: #b2ffa8;
    --fs-color-success-text-subtle: #50c542;
    --fs-color-success-content: #0b0f0a;
    --fs-color-neutral-canvas: #0d111e;
    --fs-color-neutral-raised: #2d3241;
  }
}
